.background {
    -fx-background-color: #555555;
}
.tableau {
	-fx-background-color:#191A1E;
	-fx-base: #191A1E;
}
.label {
 
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 0.6;
}



.text-field {

    -fx-font-family: "Segoe UI Semibold";
}


.button {
   
    -fx-border-color: #B0C4DE;
    -fx-border-width: 2;
    -fx-background-color: #191A1E;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
 -fx-text-fill: #d8d8d8;

}


